<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="html">
<head>
  <meta charset="UTF-8">
  <title>All GitHub Repositories</title>
</head>
<body>
<h2>All GitHub Repositories</h2>
<ul>
  <li th:each="repo : ${reposWithoutHello}">
    <span th:text="${repo}"></span>
  </li>
  <strong>
    <li th:each="repo : ${reposWithHello}">
      <span th:text="${repo}"></span>
    </li>
  </strong>
</ul>
<a href="/form" class="goback-button">Go back on homepage</a>
</body>
</html>


